################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/test/ICH.Snowflake.Test/obj
/test/ICH.Snowflake.Test/bin/Debug/netcoreapp3.1
/src/ICH.Snowflake/bin/Debug
/src/ICH.Snowflake/obj
/src/ICH.Snowflake.Redis/bin/Debug
/src/ICH.Snowflake.Redis/obj
